@using PharmacyWebApp.Models.Tables;
@model IEnumerable<Pharmacy>
<head>
    <link href="/css/site.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="div-pharmacies">
        <table class="table">
            <thead>
                <tr>
                    <th> Номер </th>
                    <th> Название</th>
                    <th>Адрес</th>
                    <th>Телефон</th>
                    <th>Склады</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pharmacy in Model)
                {
                    <tr>
                        <td> @pharmacy.Id </td>
                        <td> @pharmacy.Name</td>
                        <td>@pharmacy.City @pharmacy.Street</td>
                        <td>@pharmacy.Phone</td>
                        <td>
                            @foreach (var warehouse in pharmacy.Warehouses)
                            {
                                <a href="/Warehouse/WarehousePage/?id=@pharmacy.Id">@warehouse.Name</a>
                                <p></p>
                            }
                        </td>
                        <td>
                            <a href="/Pharmacy/ProductsFromPharmacy/?id=@pharmacy.Id">Товары</a>
                        </td>

                    </tr>
                }

            </tbody>
        </table>
        <script>

        </script>
    </div>
</body>